# Compiled binaries
server
benchmark
benchmark_bin
concurrent_benchmark
threads_benchmark
waze
bin/
astar_bidir_benchmark
bidir_delta_benchmark
bidir_entrypoint_benchmark
bidir_vs_bidir_entrypoint_benchmark
simulation

# Benchmark results
*.csv
*benchmarks/

# Reports
REPORT.md
REPORT_HEB.md

# Diagrams
*.mmd

# Temp files
a.txt

# IDE
.vscode/

# OS
.DS_Store
comparison.png
